<div id="contenu">
  <div id="contenu-top2">
    <div id="title">
      Registration            
    </div>
  </div>
  <div id="contenu-middle">
  	<% flash.each do |key, value| %>
	  <%= content_tag :div, value, class: "flash #{key}" %>
	<% end %>
	<% if @user.errors.any? %>
		<ul class="errors">
			<% for message in @user.errors.full_messages %>
				<li>* <%= message %> </li>
			<% end %>
		</ul>
	<% end %>
    <span class="text">
    <%= form_for(:user, :html => { id: 'inscription' } ) do |f| %>
    	<%= f.label :email  %>
        <div id="error_email" class="error_register">
        </div>
    	<div id="input">
    		<%= f.email_field :email, class: 'text_form', id: 'email_validation' %>
    	</div>
        <div id="error_email2" class="error_register">
        </div>
        <%= f.label :email_confirmation %>
        <div id="input">
        	<%= f.email_field :email_confirmation, class: 'text_form', id: 'email2_validation'  %>
        </div>
        <div id="error_password" class="error_register">
        </div>
        <%= f.label :password %>
        <div id="input">
        	<%= f.password_field :password, class: 'text_form', id: 'password_validation'  %>
        </div>
        <div id="error_password2" class="error_register">
        </div>
        <%= f.label :password_confirmation %>
        <div id="input">
        	<%= f.password_field :password_confirmation, class: 'text_form', id: 'password2_validation'  %>
        </div>
        <div id="validate">
        	<%= f.submit :Register, id: 'valide' %>
        </div>
        <% end %>
    </span>
  </div>
</div>
