<div id="contenu">
    <div id="contenu-top2">
        <div id="title">LOG IN</div>
    </div>
    <div id="contenu-middle">
        <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "flash #{key}" %>
        <% end %>
        <span class="text">
            <div id="gdc">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <%= label_tag :Email %>
                    <%= content_tag(:div, :id => 'input') do %>
                        <%= email_field_tag :email,'', :id => 'text' %>
                    <% end %>
                    <%= label_tag :Password %>
                    <%= content_tag(:div, :id => 'input') do %>
                        <%= password_field_tag :password,'', :id => 'text' %>
                    <% end %>
                    <%= content_tag(:div, :id => 'validate') do %>
                        <%= submit_tag 'LOG IN', :id => 'valide' %>
                    <% end %>
                <% end %>
                <p>
                    <%= link_to "Password forgotten ?", new_password_path(:account), :class => 'link' %>
                    <%= link_to 'Create an account', registration_path(:account), :class => 'link' %>
                </p>
            </div> 
        </span>
    </div>
        <div id="contenu-end"></div>
</div>

