<div id="right">
	<div id="social-bg">
		<ul>
			<li class="youtube">
			<a href="https://www.youtube.com/watch?v=SytA6Yxzch0"></a>
			</li>
			<li class="facebook">
			<a href="https://www.facebook.com/pages/Ashran-International/843684365676292"></a>
			</li>
			<li class="twitter">
			<a href="https://twitter.com/AshranServer"></a>
			</li>
		</ul>
	</div>
	<div id="join-bg">
		<div id="join" class="genericbutton">
			<a href="http://www.ashran.com/site/register">Launcher </a>
		</div>
	</div>
	<div id="membership">
		<div id="membership-top">
			<div id="english-flag" class='flag-active'>
				<a href="http://www.ashran.com/us">
				</a>
			</div>
			<div id="french-flag">
				<a href="http://www.ashran.com/fr">
				</a>
			</div>
			<div id="german-flag">
				<a href="http://www.ashran.com/de">
				</a>
			</div>
			<div id="spanish-flag">
				<a href="http://www.ashran.com/es">
				</a>
			</div>
			<div id="russian-flag">
				<a href="http://www.ashran.com/ru">
				</a>
			</div>
		</div>
		<div id="membership-middle">
			<% if account_signed_in? %>
		    	<%= render 'layouts/memberArea' %>
			<% else %>
		    	<%= render 'layouts/loginForm' %>
		    <% end %>
		</div>
		<div id="membership-end">
		</div>
	</div>
	<div id="realm">
		<div id="realm-top">
			<span class="title"> REALM </span>
		</div>
		<div id="realm-middle">
			<div id="content">
				<span class="realm-title"><%= Settings.server.name %></span>
				<div id="divider">
				</div>
				<span class="player-title"> Players </span>
				<span class="player-number"><span class="<%= server_status %>"> <%= players_online %> / <%= Settings.server.max_players %></span></span>
				<br/>
				<div id="realm-bar">
					<div id="progress" style="width:<%= (players_online * 100) / Settings.server.max_players %>%;">
					</div>
				</div>
			</div>
		</div>
		<div id="realm-end">
		</div>
	</div>
	<div id="vote" class="genericbutton">
		<a href="http://www.ashran.com/vote"> Vote for us </a>
	</div>
	<div id="buypoints" class="genericbutton" class="buy-points-popup">
		<a href="javascript:void(0)" class="buy-points-popup">Buy points</a>
		</a>
	</div>
	<div id="shop" class="genericbutton">
		<a href="http://www.ashran.com/shop"> VISIT OUR SHOP </a>
	</div>
	<div id="support" class="genericbutton">
		<a href="http://www.ashran.com/support"> Shop support </a>
	</div>
	<div id="faq" class="genericbutton">
		<a href="http://www.ashran.com/faq"> Questions </a>
	</div>
	<div id="forum" class="genericbutton">
		<a href="http://forum.ashran.com/"> FORUM </a>
	</div>
</div>